<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleIconFile</key>
	<string>bitcoin.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>V1.0, Copyright © 2009-2017 The EvaCoin developers</string>
	<key>CFBundleShortVersionString</key>
	<string>V1.0</string>
	<key>CFBundleVersion</key>
	<string>V1.0</string>
	<key>CFBundleSignature</key>
	<string>Deprecated</string>
	<key>CFBundleExecutable</key>
	<string>EvaCoin</string>
	<key>CFBundleIdentifier</key>
	<string>com.goodjobunit.EvaCoin</string>
        <key>CFBundleURLTypes</key>
        <array>
          <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>org.bitcoinfoundation.BitcoinPayment</string>
            <key>CFBundleURLSchemes</key>
            <array>
              <string>bitcoin</string>
            </array>
          </dict>
        </array>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
